<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Spring 5 Framework</title>
</head>
<style>
    th, td {border:1px solid #aaa}
    table {border-collapse:collapse}
</style>
<body>
<h1>作者清單</h1>
<table border="1">
    <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last</th>
    </tr>
    <tr th:each="author : ${authors}">
        <td th:text="${author.id}">123</td>
        <td th:text="${author.firstName}">Joe</td>
        <td th:text="${author.lastName}">Buck</td>
    </tr>
</table>
</body>
</html>